<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmm.www.calendar">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AdApplication"
        android:allowBackup="true"
        android:icon="@mipmap/calendar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jmm.www.calendar.SplashActivity"
            android:theme="@style/FullWindows"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jmm.www.calendar.GuideActivity"
            android:theme="@style/FullWindows"/>
        <activity android:name="com.jmm.www.calendar.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.jmm.www.calendar.AddScheduleActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetRePlayActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetAlarmTimeActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetLocalActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetColorActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetAlarmToneActivity"/>
        <activity android:name="com.jmm.www.calendar.ScheduleDetailActivity"/>

        <activity android:name="com.jmm.www.calendar.AlarmRemindActivity"/>

        <activity android:name=".weather.LoadLbs"/>
        <activity android:name=".weather.SelectCityActivity"/>
        <activity android:name=".weather.WeatherShowActivity"/>
        <service android:name="com.jmm.www.calendar.alarmremind.AlarmService"
            android:process="com.jmm.www.calendar.serviceProcess"
            android:icon="@mipmap/calendar"
            android:label="@string/app_name">

        </service>

        <receiver android:name="com.jmm.www.calendar.alarmremind.AlarmServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.jmm.www.calendar.alarmremind.AlarmAlertBroadcastReceiver">
        </receiver>

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9pEqb7YEMjdjcpv2ncaCiHPlxx5NDmMk"></meta-data>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
    </application>

</manifest>