<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmm.www.calendar">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calendar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jmm.www.calendar.SplashActivity"
            android:theme="@style/FullWindows">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jmm.www.calendar.GuideActivity"
            android:theme="@style/FullWindows"/>
        <activity android:name="com.jmm.www.calendar.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.jmm.www.calendar.AddScheduleActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetRePlayActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetAlarmTimeActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetLocalActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetColorActivity"/>
        <activity android:name="com.jmm.www.calendar.alarmsetactivity.SetAlarmToneActivity"/>
        <activity android:name="com.jmm.www.calendar.ScheduleDetailActivity"/>

        <activity android:name="com.jmm.www.calendar.AlarmRemindActivity"/>

        <service android:name="com.jmm.www.calendar.alarmremind.AlarmService"
            android:process="com.jmm.www.calendar.serviceProcess"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">

        </service>

        <receiver android:name="com.jmm.www.calendar.alarmremind.AlarmServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.jmm.www.calendar.alarmremind.AlarmAlertBroadcastReceiver">
        </receiver>
    </application>

</manifest>